body {
  /* background-color: #111 !important; */
  background-image: url("../img/background.png");
  background-attachment: fixed;
}

textarea {
  color: white !important;
  background-color: #222 !important;
}

.card__image-wrapper {
  display: flex;
  overflow-y: auto;
  flex-flow: column;

  direction: rtl;
}

.card__image-wrapper img {
  width: auto;
  min-height: 80px;
  margin: 0 auto;
}